<div class="d-sm-flex align-items-center justify-content-between mb-4">
 <h1 class="h3 mb-0 text-gray-800">Evento</h1><br>
<div class="row">
   <button [disabled]="inscrito" type="button" (click)="subscribeUser()" class="btn btn-success btn-icon-split margin" *ngIf="currentUser &&  currentUser.id != event.usuarioId">
    <span class="icon text-white-50">
      <i class="fas fa-plus"></i>
    </span>
    <span class="text">Inscrever</span>
  </button>
  <button class="btn btn-success btn-icon-split" data-toggle="modal" data-target="#formModal" *ngIf="currentUser &&  currentUser.id == event.usuarioId">
   <span class="icon text-white-50">
     <i class="fas fa-plus"></i>
   </span>
   <span class="text">Adicionar Carros</span>
 </button>
  <button (click)="excluirEvento()" class="btn btn-danger btn-icon-split margin" *ngIf="currentUser &&  currentUser.id == event.usuarioId">
    <span class="icon text-white-50">
      <i class="fas fa-trash"></i>
    </span>
    <span class="text">Excluir Evento</span>
  </button>
  <a [routerLink]="['/events/edit', event.id]" class="btn btn-info btn-icon-split" *ngIf="currentUser &&  currentUser.id == event.usuarioId">
    <span class="icon text-white-50">
      <i class="fas fa-edit"></i>
    </span>
    <span class="text">Editar</span>
  </a>
  </div>
</div>
<!-- Content Row -->
<div class="row">
  <div class="card shadow col-md-12">
     <div class="card-header py-3">
       <h6 class="m-0 font-weight-bold text-primary">{{event?.nome}}</h6>
     </div>
     <div class="card-body col-md-12">
       <p>{{event?.descricao}}<p>
       <p>Cidade: {{event?.cidade}}</p>
       <p>Pais: {{event?.pais}}</p>
       <p>Data: {{event?.dataEvento}}</p>
       <div class="row">
         <div class="col-xl-3 col-md-3 mb-3">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Valor</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">R{{event?.ingressoValor | currency}}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-3 mb-3">
        <a data-toggle="modal" data-target="#inscritosModal">
         <div class="card border-left-info  shadow h-100 py-2">
           <div class="card-body">
             <div class="row no-gutters align-items-center">
               <div class="col mr-2">
                 <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Inscritos</div>
                 <div class="h5 mb-0 font-weight-bold text-gray-800">{{users.length}}</div>
               </div>
               <div class="col-auto">
                 <i class="fas fa-user fa-2x text-gray-300"></i>
               </div>
             </div>
           </div>
         </div>
         </a>
       </div>
       <div class="col-xl-3 col-md-3 mb-3">
       <a data-toggle="modal" data-target="#carrosInscritos">
        <div class="card border-left-warning  shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Carros</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{carrosInscritos.length}}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-car fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
       </div>
     </div>
   </div>
</div>

<div class="modal fade" id="carrosInscritos" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalLongoExemplo">Carros inscritos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="user">
          <div class="col-md-12">
            <div class="table-responsive">
              <table id="mytable" class="table table-bordred table-striped">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Valor</th>
                  </tr>
                </thead>
               <tbody>
                 <tr mdbTableCol *ngFor="let c of carrosInscritos">
                   <td>{{c.nome}}</td>
                   <td>{{c.valor}}</td>
                 </tr>
               </tbody>
          </table>
          </div>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalLongoExemplo">Cadastrar Carros</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="user">
          <div class="col-md-12">
            <div class="table-responsive">
              <table id="mytable" class="table table-bordred table-striped">
                <thead>
                  <tr>
                    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                  </tr>
                </thead>
               <tbody>
                 <tr mdbTableCol *ngFor="let carro of cars">
                   <td>{{carro.nome}}</td>
                   <td>{{carro.valor}}</td>
                   <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" (click)="addCarro(carro)"><i class="fas fa-plus"></i></button></p></td>
                 </tr>
               </tbody>
          </table>
          </div>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        <button data-dismiss="modal" (click)="cadastrarCarros()" type="button" class="btn btn-primary btn-user">Salvar mudanças</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="inscritosModal" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalLongoExemplo">Usuarios Inscritos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="user">
          <div class="col-md-12">
            <div class="table-responsive">
              <table id="mytable" class="table table-bordred table-striped">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Nome</th>
                  </tr>
                </thead>
               <tbody>
                 <tr mdbTableCol *ngFor="let u of users">
                   <td>{{u.id}}</td>
                   <td>{{u.nome}}</td>
                 </tr>
               </tbody>
          </table>
          </div>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
