<div class="col-xl-3 col-md-3 mb-3">
  <div class="card border-bottom-success shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-uppercase mb-1" [class]="color">{{label}}</div>
          <div *ngIf="money" class="h5 mb-0 font-weight-bold text-gray-800">R{{data | currency}}</div>
          <div *ngIf="!money" class="h5 mb-0 font-weight-bold text-gray-800">{{data}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
